#wp-podcast-player-wrapper {
  display: flex;
  gap: 20px;
  background-color: aliceblue;
}

.wp-podcast-player-content {
  width: 100%;
  padding: 6px 10px;
}
.wp-podcast-player-cover {
  width: 200px;
  height: auto;
}
h2.wp-podcast-player-hader {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 8px;
}
.wp-podcast-player-cover img {
  max-width: 100%;
}

/* // Style untuk podcast category */

.wp-podcast-terms {
  display: flex;
  gap: 16;
  font-size: small;
  margin-bottom: 7px;
}

.wp-podcast-terms a {
  text-decoration: none;
}

/* Style tambahan untuk mediaelementjs */
.wp-podcast-player-container .mejs-container,
.wp-podcast-player-container .mejs-container .mejs-controls,
.wp-podcast-player-container .mejs-embed,
.mejs-embed body {
  background-color: transparent;
  padding: 0;
}

.wp-podcast-player-container .mejs-time {
  color: rebeccapurple;
}

.wp-podcast-player-container .mejs-container {
  width: 100% !important;
}

.wp-podcast-player-container .mejs-button {
  border-radius: 100%;
}

.wp-podcast-player-container
  .mejs-controls
  .mejs-horizontal-volume-slider
  .mejs-horizontal-volume-total,
.wp-podcast-player-container .mejs-controls .mejs-time-rail .mejs-time-total,
.wp-podcast-player-container .mejs-controls .mejs-time-rail .mejs-time-loaded {
  background-color: rgba(46, 32, 113, 0.33);
}

.wp-podcast-player-content
  .mejs-controls
  .mejs-horizontal-volume-slider
  .mejs-horizontal-volume-current,
.wp-podcast-player-container .mejs-button,
.wp-podcast-player-content .mejs-controls .mejs-time-rail .mejs-time-current {
  background-color: rebeccapurple;
}
.wp-podcast-player-content .mejs-container,
.wp-podcast-player-content .mejs-container .mejs-controls,
.mejs-embed,
.wp-podcast-player-content .mejs-embed body {
  background-color: transparent;
}

.wp-podcast-player-container .mejs-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
}

.wp-podcast-fake-player {
  display: flex;
  gap: 16px;
  align-items: center;
}
.wp-podcast-fake-player .mejs-button {
  background-color: rebeccapurple;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  border-radius: 100%;
}

/**
Fake Podcast Player
**/

.wp-podcast-fake-player .wp-podcast-fake-rails {
  flex-grow: 1;
  display: block;
  display: flex;
  gap: 10px;
}

.wp-podcast-fake-player .player-link-login {
  font-size: 12px;
  line-height: 1;
  font-weight: normal;
  color: rebeccapurple;
  text-decoration: none;
}
.wp-podcast-fake-player .podcast-fake-progress {
  background-color: rgba(46, 32, 113, 0.33);
  position: relative;
  border-radius: 2px;
  cursor: pointer;
  display: block;
  height: 10px;
  flex-grow: 1;
}

.wp-podcast-fake-player .fake-duration {
  color: rebeccapurple;
  font-size: 11px;
  font-weight: 700;
  text-align: center;
  font-weight: normal;
  word-wrap: normal;
}
